.App {
  text-align: center;
}

.App {
  background-color: black;
}

.Menu {
  background-color: rgb(226, 43, 49);
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.Org-Name {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: white;
}
.Main-Menu {
  /* height: 3.5vh; */
  width: 70%;
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  
}