.App {
  text-align: center;
}

.Header {
  margin: 0 auto;
  width: 80%;

}

.Menu {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.Org-Name {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: black;
}

.Main-Menu {
  width: 79.8%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(74, 20, 74);
  color: white;
  padding: .5rem 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.Social-Menu {
  width: 20%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: .5rem 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.Social-Menu li {
  color: white;
}

.container {
  background-color: rgb(74, 20, 74);
  height: 15rem;
  position: relative;
}

.front {
  width: 90%;
  margin: 1rem 0 0 5rem;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.front-one {
  background-color: white;
  width: 40%;
  height: 30rem;
  top: 0;
  left: 0;
  text-align: left;


}

.top-img {
  width: 100%;
  height: 60%;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 2rem;
  margin-bottom: 1rem;

}

.h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.front-two {
  background-color: white;
  width: 40%;
  height: 30rem;
  top: 0;
  left: 50rem;
  margin-top: 3rem;
  border-radius: 6px;
}

.Info-Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.Info-Menu li {
  width: 90%;
  border-bottom: solid .1rem rgb(74, 20, 74);
  padding: 3rem 0;
  
}

.Info-Menu li h3 {
  font-size: 2rem;
}

.Info-Menu li h4 {
  font-size: 1rem;
  
}



.button-1 {
  background: rgb(74, 20, 74);
  border: 1px solid rgb(74, 20, 74);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 1rem 0 0 12rem;
}

.button-1:hover,
.button-1:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(74, 20, 74);
}

.button-1:active {
  opacity: .5;
}


